{% extends "base.html" %}
{% block title %}{{title|e}}{% endblock %}
{% block headers %}
<link rel="shortcut icon" href="/favicon.ico" />
{{meta}}
{% endblock %}
{% block content %}
<header id="header">
  <h1 id="title"><span id="title-erl">Erl</span><span id="title-port">Port</span>
    <span id="title-desc">- connect Erlang to other languages</span></h1>
  <nav>
    <ul>
    {% for item in global_menu %}
      {% if item.selected %}
      <li><a href="{{item.url}}" class="selected">{{item.title|e}}</a></li>
      {% else %}
      <li><a href="{{item.url}}">{{item.title|e}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
</header>
{% include "github.html" %}
<div class="document">
{{content}}
</div>
<footer>
<div id="feedback">
 Please use the following channels for reporting bugs, offering suggestions or
 feedback:
 <ul>
  <li>ErlPort issue tracker:
    <a href="https://github.com/hdima/erlport/issues">https://github.com/hdima/erlport/issues</a></li>
  <li>Email: Dmitry Vasiliev (dima at hlabs.org)</li>
  <li>Send a message or follow me for updates on Twitter:
    <a href="https://twitter.com/hdima">@hdima</a></li>
 </ul>
</div>
<div id="footer">
  &copy; 2009-2013 <address>Dmitry Vasiliev (dima at hlabs.org)</address><br />
  The site sources can be found at
    <a href="https://github.com/hdima/erlport.org">https://github.com/hdima/erlport.org</a>
</div>
</footer>
{% include "analytics.html" %}
{% endblock %}
